body{
    background: gray
    ;
    font: normal 15pt arial;
}
header{
    color: black;
    text-align: center;
}
section{
    background: orangered;
    border-radius: 100px;
    padding: 100px;
    width:500px;
    margin: auto;
    box-shadow: 8px 8px 10px rgb(80, 64, 64);
}
footer{
    color: black;
    text-align: center;
    font-style: italic;
}